* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* color variables */
:root {
    --btnLink1: #B533FF;
    --btnLink2:#6C00A9;
    --colorFont: #000000;
    --btnFont: #FFFF;
}

/* Body styling */
body {
    background-color: #FFFAFA;
    color: var(--colorFont);
    font-family:Arial, Helvetica, sans-serif;
    line-height: 1.5;
    height: auto;
}

/* Headline and paragraph styling */
h1 {
    font-size: 50px;
    margin: 20px 0;
    font-weight: bold;
}

h3 {
    font-size: 25px;
    margin: 5px;
    padding: 10px;
}

h4 {
    font-size: 12px;
}

p {
    font-size: 25px;
    margin: 15px 0;
}

/* All sections styling */
.contain {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

/* Hides content that doesn't need to be displayed */
#hide {
    display: none;
}

#hide-btn {
    display: none;
}
/* Header styling starts here */
header {
    background-color: #FFFAFA;
    max-width: auto;
    height: 100%;
    margin: 0 auto;
    position: sticky;
    position: --webkit-sticky;
    top: 0;
    z-index: 999;  
}

/* Navigation bar styling */
nav {
    padding: 10px 35px;
    align-items: center;
    justify-content: right;   
}

/* Link styling */
a {
    color: var(--btnLink1);
    text-decoration: none;
}

nav a:hover {
    color: var(--btnLink2);
}
.navbar {
    justify-content: space-between;
}
.timer {
    padding: 10px 35px;
    align-items: center;
    justify-content: left;
}

/* Main section styling for all pages */
main {
    margin: 30px 0;
    padding: 25px 10px;
    position: relative;
    justify-content: space-around;
}
/*Questions Main section */
#q-main {
    margin: 30px 0;
    padding: 25px 10px;
    position: relative;
    justify-content: space-around;   
}

/* Button Section styling */
.bttn1 {
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
/* Shows answer buttons */
#view-btn {
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
}
.btn {
    margin: 10px;
    padding: 10px;
    height: 50px;
    width: 200px;
    color: var(--btnFont);
    background-color: var(--btnLink2);
    border-color: var(--btnLink2);
    border-radius: 5%;
    font-size: 18px;
    text-align: center;
}
.btn:hover {
    background-color: var(--btnLink1);
    border-color: var(--btnLink1);
}

/* Footer styling */
footer {
    margin: 20px 20px 0 20px;
    padding: 30px 20px 0 20px;
    justify-content: space-around;
}

/* Media Screen max-widths stylings */
@media screen and (max-width: 414px) {
    nav {
        padding: 5px 15px;
    }
    .timer {
        padding: 5px 15px;
    }   
}

@media screen and (max-width: 393px) {
    h1 {
        font-size: 35px;
    }
    h3 {
        font-size: 18px;
    }
    p {
        font-size: 18px;
    }
    nav {
        padding: 5px 18px;
    }
    .timer {
        padding: 5px 18px;
    }
}

@media screen and (max-width: 280px) {
    h1 {
        font-size: 25px;
    }
    h3 {
        font-size: 15px;
    }
    p {
        font-size: 15px;
    }
    nav {
        padding: 5px 10px;
    }
    .timer {
        padding: 5px 10px;
    }
}